{% extends "base.html" %}

{% block title %}404 · {{ cfg.title }}{% endblock %}
{% block description %}页面不存在{% endblock %}

{% block content %}
<h1 class="page-title">404</h1>
<p class="intro">这里什么都没有。随便看看最近几篇？</p>
<ol class="post-list">
  {% for post in posts %}
  <li class="post-item">
    <a class="post-link" href="{{ post.url }}">
      <time class="post-date" datetime="{{ post.date }}">{{ post.date }}</time>
      <span class="post-title">{{ post.title }}</span>
    </a>
  </li>
  {% endfor %}
</ol>
{% endblock %}
